{% extends 'layouts/base_s2.html' %}

{% block title %}Login{% endblock %}

{% block body %}

{% load widget_tweaks %}
<div class="row">
    <div class="col-md-8">
        <h1 class="head-s1">OXPECKER</h1>
        <p>
            Free and open source game market based on Django framework.
        </p>
        <br>
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-globe fa-3"></i>
                <div class="topic-s1">Online Play</div>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-desktop fa-3"></i>
                <div class="topic-s1">Desktop Application</div>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-code fa-3"></i>
                <div class="topic-s1">Open Source</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Registeration</legend>
            <form method="post" action="">{% csrf_token %}
                <div class="form-group">
                    {{form.first_name.label_tag}} {% if form.first_name.errors %}<label class="label label-danger">{{form.first_name.errors.as_text}}</label>{% endif %}
                    {{form.first_name|add_class:"form-control input-s1"}}
                </div>
                <div class="form-group">
                    {{form.last_name.label_tag}} {% if form.last_name.errors %}<label class="label label-danger">{{form.last_name.errors.as_text}}</label>{% endif %}
                    {{form.last_name|add_class:"form-control input-s1"}}
                </div>
                <div class="form-group">
                    {{form.username.label_tag}} {% if form.username.errors %}<label class="label label-danger">{{form.username.errors.as_text}}</label>{% endif %}
                    {{form.username|add_class:"form-control input-s1"}}
                </div>
                <div class="form-group">
                    {{form.email.label_tag}} {% if form.email.errors %}<label class="label label-danger">{{form.email.errors.as_text}}</label>{% endif %}
                    {{form.email|add_class:"form-control input-s1"}}
                </div>
                <div class="form-group">
                    {{form.password.label_tag}} {% if form.password.errors %}<label class="label label-danger">{{form.password.errors.as_text}}</label>{% endif %}
                    {{form.password|add_class:"form-control input-s1"}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-s1">Register</button>
                    <a href="{% url 'login' %}" class="btn btn-s2 pull-right">Login</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}