{% extends 'layouts/base_s1.html' %}

{% block title %}Companies{% endblock %}

{% block left-legend %}
<i class="fa fa-building"></i> Company Info
{% endblock %}

{% block right-legend %}
<a href="{% url 'companies_index' %}" class="btn btn-default btn-xs"><i class="fa fa-chevron-left"></i> Back</a>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-10">
        <h3>{{company.name}}</h3>
        <small>
            <i>{{company.email}}</i><br>
            <i><a href="{{company.site}}" target="_blank">{{company.site}}</a></i>        
        </small>
    </div>
    <div class="col-md-2">
        <img src="{{MEDIA_URL}}companies/{{company.name}}/logo.png" class="thumbnail fix">
    </div>
</div>
   
<div>{{company.introduction|safe}}</div>

<fieldset>
    <legend>Team Members</legend>
    {% for dev in company.developer_set.all %}
    <div class="col-md-6 dev-info">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="{{MEDIA_URL}}companies/{{company.name}}/developers/{{dev.name}}.png" class="media-object circle">
                </a>
            </div>
            <div class="media-body">
                <h4>{{dev.name}}</h4>
                <small><i>{{dev.brief_introduction}}</i></small>
            </div>
        </div>
    </div>
    {% endfor %}
</fieldset>
{% endblock %}