body
{
  margin-top: 70px;
}

.well
{
  background-color: #ECEEEF !important;
  box-shadow: none !important;
  border:none !important;
  border-bottom: 2px solid #DDD !important;
}

.table thead
{
  background-color: #386775;
  color: #FFF;
}

.col-md-0
{
  width: 4.333333%;
}

.navbar-default
{
  /* #5C4481 */
  background-color:#293E4C !important;
}

.navbar-default a
{
  color: #FFF !important;
}

.navbar-brand
{
  font-family: 'Bree Serif', serif !important;
  font-size: x-large;
}

.btn
{
  border:none !important;
}

.navbar-nav>.active>a
{
  background-color:#386775 !important;
}

.form-control
{
  border-radius: 3px !important;
  box-shadow: none !important;
}