<div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li><a href="#" class="navbar-brand">OXPECKER</a></li>
        <li><a href="#">Games</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        {% endif %}
    </ul>
    
    <ul class="nav navbar-nav pull-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i></a></li>
    </ul>
</div>